@{
    ViewData["Title"] = "History of Umuomaku";
}

<section class="container py-5 mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-12">
			<div class="card border-1 shadow-sm rounded-4">
				<div class="card-body p-4">

					<div class="text-center">
						<h3 class="mb-4 fw-bold general-heading">History of Umuomaku</h3>
					</div>
					<p>
						The people of Umuomaku are descendants of Omaku who migrated from Umuchima, the present Ideato South Local Government Area of Imo state. Umuchima lies between Urualla, the present headquarter of Ideato North Local Government Area and Mgbe Orly Local Government Area and beside Ntueke Ideato South Local Government Area of Imo state.
					</p>
					<p>
						Omaku, a well-known and prominent farmer was denied the ozo title in his town Umuchima and this instigated his migration. Before leaving the land of Umuchima, he informed his two brothers Dim and Onyia about his intention to move.
					</p>
					<p>
						His two brothers Onyia and Dim indicated interest in migrating with him.
					</p>
					<p>
						He left Umuchima with his wife, his first son Nambu and his two brothers, Onyia and Dim. They arrived at a hill top and lived in a granite area not good for farming. He preferred the hills because it gave him a preview of impending attackers as a hunter.
					</p>
					<p>
						After their settlement, his wife gave birth to four more sons bringing the total number to five.
						The name of his sons in order of seniority were Nambu being the first son, followed by Isieke, then Okponwa, Naji and Nwaka-Okpurukpunwa. Omaku went ahead to initiate the ozo title for himself and his five sons.
					</p>
					<p>
						This greatly displeased his two brothers, who felt they have had more injustice. They therefore sought for independence and they both migrated. Onyia later founded Enugu-Umuonyia while Dimori founded Agbudu.
					</p>
					<p>
						Umuomaku, Enugu-umuonyia and Agbudu are referred to as Amanasa community.
						Umuomaku grew in numbers, hence the community comprises of four villages, namely, Umunambu, Okpobe, Umuokpurukpu and Umugada. Umunanmbu village was inherited by the first son Nambu and built his families there.
					</p>
					<p>
						Ubo streams bordered on Umunambu with other villages.
					</p>
					<p>
						Okponwa the third son of Nambu assumed the position of the second son after his immediate brother Isieke lost his inheritance. Okponwa founded Okpobe village and accommodated Ohadugha family. Ohadugha family are from his immediate brother Isieke. Okponwa moved across Iyicha stream leaving the first son of their father Nambu with the obu. Okponwa was a great farmer and palm wine tapper, he farmed near the South East of Nkwo Umunze market.  He settled near Nchi and Okwara streams and built his tent towards the East from Ngologiri forest, Ngodo towards Umunze town. After the creation of Umungada village, Okpobe however shares common boundary with Umungada at Ogbo Uruo, Umunambu at Iyicha and Okwara, then Umunze at the farmlands.
					</p>
					<p>
						Umuokpurukpu village was founded by the fifth son of Omaku Nwaka-Okpurukpunwa. Umuokpurukpu shares common boundary with Umungada at town square. Their farmlands stretches to Aghommiri stream.
						Umungada village which happens to be the fourth village and the last village to be created was founded by the grandchildren of Omaku, Ngada and Okalanwa.
					</p>
					
				</div>
			</div>
		</div>
	</div>
</section>
